@model Tarot.Model.EF.OnlinePaying
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MainAdmin.cshtml";
}
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card" style="margin-left: 300px;width: 600px;">
                        @using (Html.BeginForm("Edit", "OnlinePayingAdmin", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="card-header" style="text-align:center;color: steelblue;">
                                <strong>Cập Nhật Thanh Toán Trực Tuyến</strong>
                            </div>

                            <div class="card-body card-block" style="background:#00ffff;color: black;">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row form-group">
                                    <div class="col col-md-4">
                                        @Html.LabelFor(model => model.Method, htmlAttributes: new { @class = "control-label " })
                                    </div>
                                    <div class="col-12 col-md-3">
                                        @Html.DropDownListFor(model => model.Method, null, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Method, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-4">
                                        @Html.LabelFor(model => model.NamePay, htmlAttributes: new { @class = "control-label " })
                                    </div>
                                    <div class="col-12 col-md-8">
                                        @Html.EditorFor(model => model.NamePay, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NamePay, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-4">
                                        @Html.LabelFor(model => model.NameAccount, htmlAttributes: new { @class = "control-label " })
                                    </div>
                                    <div class="col-12 col-md-8">
                                        @Html.EditorFor(model => model.NameAccount, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NameAccount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-4">
                                        @Html.LabelFor(model => model.CodeAccount, htmlAttributes: new { @class = "control-label " })

                                    </div>
                                    <div class="col-12 col-md-8">
                                        @Html.EditorFor(model => model.CodeAccount, new { htmlAttributes = new { @class = "form-control" },@type="number" })
                                        @Html.ValidationMessageFor(model => model.CodeAccount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-4">
                                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label " })
                                    </div>
                                    <div class="col-12 col-md-5">
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-4">
                                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label " })
                                    </div>
                                    <div class="col-12 col-md-5">
                                        <div style="display:flex;margin-left:-155px;margin-top:8px">
                                            @Html.CheckBoxFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                            <p style="margin-left:-135px;margin-top:-6px">Đang hoạt động</p>
                                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="form-group" style="display:flex">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Cập nhật" class="btn btn-default" style="background: aquamarine;width:100px" />
                                    </div>
                                    <div style="margin-top:12px">
                                        @Html.ActionLink("Quay lại", "Index")
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

