
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listNewProducts = (List<Tarot.Model.EF.Product>)ViewBag.NewProducts;
    var listHotProducts = (List<Tarot.Model.EF.Product>)ViewBag.HotProducts;
}
<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-left">
            <img src="~/DataImage/ImageHome/Slide/banner.jpg" />
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong> CHÀO MỪNG ĐẾN VỚI <br> TAROT MYSTERY SHOP</strong></h1>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/DataImage/ImageHome/Slide/open-banner.jpg" />
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>ĐẾN CỬA HÀNG MYSTERY TAROT VÀ CẢM NHẬN</strong></h1>
                        <p class="m-b-40">32 ngách 31/14 Pháo Đài Láng, Láng Thượng, Đống Đa, Hà Nội</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-right">
            <img src="~/DataImage/ImageHome/Slide/home-banner.jpg" />
            <div class="container">

            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/DataImage/ImageHome/Home/tarot_preview.jpg" />
                    <a class="btn hvr-hover" href="#">BÀI TAROT</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/DataImage/ImageHome/Home/oracle-preview.jpg" />
                    <a class="btn hvr-hover" href="#">ORACLE & LENORMAND</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="shop-cat-box">
                    <img class="img-fluid" src="~/DataImage/ImageHome/Home/tarot-box.jpg" style="height:235px"/>
                    <a class="btn hvr-hover" href="#">PHỤ KIỆN TAROT</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories -->
<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1 style="font-family: 'Montserrat';">BỘ BÀI MỚI NHẤT</h1>
                </div>
            </div>
        </div>
        <div class="row special-list">
            @foreach (var item in listNewProducts)
            {
                var url = "/chi-tiet/" + item.ID;
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">New</p>
                            </div>
                            <img src="@item.Image" class="img-fluid" alt="Image" style="width:300px" />
                            <div class="mask-icon" style="width:100%">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="@item.ViewCount"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="#">Thêm vào giỏ</a>
                            </div>
                        </div>
                        <div class="why-text" style="margin-left: 24px; width: 200px;text-align:center ">
                            <a href="@url"><h4 style="margin-left: 20px;">@item.ProductName</h4></a>
                            <h5>@String.Format("{0:n0}", @item.Price)&nbsp;₫</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1 style="font-family: 'Montserrat';">BỘ BÀI NỔI BẬT</h1>
                </div>
            </div>
        </div>
        <div class="row special-list" style="text-align:center">
            @foreach (var item in listHotProducts)
            {
                var url = "/chi-tiet/" + item.ID;
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">HOT</p>
                            </div>
                            <a href=""><img src="@item.Image" class="img-fluid" alt="@item.ProductName" style="width:300px"/></a>
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="" data-toggle="tooltip" data-placement="right" title="@item.ViewCount"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="">Thêm vào giỏ</a>
                            </div>
                        </div>
                        <div class="why-text" style="margin-left: 24px; width: 200px;">
                            <a href="@url"><h4 style="margin-left:20px">@item.ProductName</h4></a>
                            <h5>@String.Format("{0:n0}", @item.Price)&nbsp;₫</h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- End Products  -->
<!-- Start Register  -->
<div class="latest-blog" style="background-color:aquamarine">
    <div class="container" style="display:flex">
        <div class="col-lg-6">
            <div class="news_left_text">
                <h1>ĐĂNG KÝ KHÓA HỌC TAROT CỦA CHÚNG TÔI</h1>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="newsletter_form">
                <div class="input-group" style="height: 46px; margin-top: -10px;">
                    <input type="text" class="form-control" placeholder="Nhập email của bạn">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" style="background-color:blanchedalmond">Đăng Ký</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Register  -->
