@model List<Tarot.Model.EF.Product>
@{
    var type = (List<Tarot.Model.EF.ProductType>)ViewBag.Type;
    var category = (List<Tarot.Model.EF.ProductCategory>)ViewBag.Category;
    var prcategory = (Tarot.Model.EF.ProductCategory)ViewBag.PrCategory;
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Sản Phẩm</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Sản phẩm</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                    {
                        <div class="search-product">
                            <form action="#">
                                <input class="form-control" name="search" value="@ViewBag.Search" placeholder="Tìm kiếm..." type="text">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </form>
                        </div>
                    }
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Danh mục sản phẩm</h3>
                        </div>
                        <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                            <div class="list-group-collapse sub-men">
                                @{Html.RenderAction("Publisher", "Product"); }
                            </div>
                            @foreach (var cateitem in category)
                            {
                                var child = type.Where(x => x.CategoryID == cateitem.ID);
                                var parentClass = child.Count() > 0 ? "class=collapse data-parent=#list-group-men" : "";
                                <div class="list-group-collapse sub-men">
                                    <a class="list-group-item list-group-item-action" href="#@cateitem.ID" data-toggle="collapse" aria-expanded="true" aria-controls="@cateitem.ID">
                                        @cateitem.CategoryName
                                        <small class="text-muted">(50)</small>
                                    </a>
                                    <div @parentClass id=@cateitem.ID>
                                        @if (child.Count() > 0)
                                        {
                                            <div class="list-group">
                                                @foreach (var childitem in child)
                                                {
                                                    <a href="#" style="color:black" class="list-group-item list-group-item-action">@childitem.TypeName<small class="text-muted">(10)</small></a>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="filter-price-left">
                        <div class="title-left">
                            <h3>Giá</h3>
                        </div>
                        <div class="price-box-slider">
                            <div id="slider-range"></div>
                            <p>
                                <input type="text" id="amount" readonly style="border:0; color:#FF0000; font-weight:bold;">
                                <button class="btn hvr-hover" type="submit">Lọc</button>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-8 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sắp xếp</span>
                                <select id="basic" class="selectpicker show-tick form-control" data-placeholder="đ VND" style="background-color:#ffffff">
                                    <option data-display="Select">Không</option>
                                    <option value="1">Giá thấp → Giá cao</option>
                                    <option value="2">Giá cao → Giá thấp</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        var url = "/chi-tiet/" + item.ID;
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="@item.Image" class="img-fluid" alt="@item.ProductName">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="@item.ViewCount"><i class="fas fa-eye"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào yêu thích"><i class="far fa-heart"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="/them-gio-hang?productID=@item.ID&quantity=1">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                                <div class="why-text" style="margin-left: 24px; width: 200px;">
                                                    <a href="@url"><h4 style="margin-left:20px">@item.ProductName</h4></a>
                                                    <h5 style="text-align:center">@String.Format("{0:n0}", @item.Price)&nbsp;₫</h5>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--Phân Trang-->
                @if(ViewBag.TotalPage>1)
                {
                    var pageDisplay = (int)(ViewBag.MaxPage);
                    int totalPage = (int)ViewBag.TotalPage;
                    int currentPage = ((int)ViewBag.Page);

                    var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
                    var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

                    var link = "/san-pham/" + prcategory.ID;
            <div class="middle_list" style="margin-left:110px">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (currentPage > ViewBag.First)
                        {
                            <li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
                            <li><a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a></li>
                        }
                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                        {
                            if (currentPage == i)
                            {
                                <li><a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
                            }
                            else
                            {
                                <li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
                            }
                        }
                        @if (currentPage < totalPage)
                        {
                            <li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
                        }
                    </ul>
                    </nav>

            </div>
                }
                else
                {
                <span>Không Có Sản Phẩm Nào</span>
            }
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->
