@model PagedList.IPagedList<Tarot.Model.EF.Product>
@using PagedList.Mvc;
@{
    var type = (List<Tarot.Model.EF.ProductType>)ViewBag.Type;
    var productcate = (List<Tarot.Model.EF.ProductCategory>)ViewBag.Category;
    var publisher = (List<Tarot.Model.EF.Publisher>)ViewBag.Publisher;
    var product = (List<Tarot.Model.EF.Product>)ViewBag.Product;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Sản Phẩm</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Sản phẩm</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <!--Tìm kiếm-->
                    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                    {
                        <div class="search-product">
                            <form action="#">
                                <input class="form-control" name="search" value="@ViewBag.Search" placeholder="Tìm kiếm..." type="text">
                                <button type="submit"> <i class="fa fa-search"></i> </button>
                            </form>
                        </div>
                    }
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Danh mục sản phẩm</h3>
                        </div>
                        <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                            <!--Nhà xuất bản-->
                            <div class="list-group-collapse sub-men">
                                <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse" aria-expanded="true" aria-controls="sub-men1">
                                    Nhà Xuất Bản <small class="text-muted">(@product.Count())</small>
                                </a>
                                <div class="collapse" id="sub-men1" data-parent="#list-group-men">
                                    <div class="list-group">
                                        @foreach (var item in publisher)
                                        {
                                            var nxb = product.Where(x => x.PublisherID == item.ID);
                                            var url = "/sanpham-nxb/" + item.ID;
                                            <a href="@url" style="color:black" class="list-group-item list-group-item-action active">
                                                @item.Name
                                            <small class="text-muted">(@nxb.Count())</small>
                                        </a>
                                    }
                                    </div>
                                </div>
                            </div>
                            <!--Danh mục sản phẩm trái-->
                            @foreach (var item in productcate)
                            {
                                var child = type.Where(x => x.CategoryID == item.ID);
                                var parentClass = child.Count() > 0 ? "class=collapse data-parent=#list-group-men" : "";
                                var pr = product.Where(x => x.CategoryID == item.ID);
                                <div class="list-group-collapse sub-men">
                                    @if (child.Count() == 0)
                                    {
                                        <a class="list-group-item list-group-item-action" href="san-pham/@item.ID">
                                            @item.CategoryName
                                            <small class="text-muted">(@pr.Count())</small>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="list-group-item list-group-item-action" href=#@item.ID aria-expanded="true" data-toggle="collapse" aria-controls="@item.ID">
                                            @item.CategoryName
                                            <small class="text-muted">(@pr.Count())</small>
                                        </a>
                                        <div @parentClass id=@item.ID>
                                            @if (child.Count() > 0)
                                            {
                                                <div class="list-group">
                                                    @foreach (var childitem in child)
                                                    {
                                                        <a href="/loai-sp/@childitem.ID" style="color:black" class="list-group-item list-group-item-action">@childitem.TypeName
                                                            <small class="text-muted">(@childitem.ProductTags.Count())</small>
                                                        </a>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <!--Tìm kiếm theo giá dùng nút lọc-->
                    <div class="filter-price-left">
                        <div class="title-left">
                            <h3>Giá</h3>
                        </div>
                        <div class="price-box-slider">
                            <div id="slider-range"></div>
                            <p>
                                <input type="text" id="amount" readonly style="border:0; color:#FF0000; font-weight:bold;">
                                <button class="btn hvr-hover" type="submit">Lọc</button>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-8 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <!--Sắp xếp-->
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sắp xếp</span>
                                <select id="basic" class="selectpicker show-tick form-control" data-placeholder="đ VND" style="background-color:#ffffff">
                                    <option data-display="Select">Không</option>
                                    <option value="1">Giá thấp → Giá cao</option>
                                    <option value="2">Giá cao → Giá thấp</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--Danh sách sản phẩm-->
                    <div class="row product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        var url = "/chi-tiet/" + item.ID;
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <img src="@item.Image" class="img-fluid" alt="@item.ProductName">
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="@item.ViewCount"><i class="fas fa-eye"></i></a></li>
                                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="Thêm vào yêu thích"><i class="far fa-heart"></i></a></li>
                                                        </ul>
                                                        <a class="cart" href="/them-gio-hang?productID=@item.ID&quantity=1">Thêm vào giỏ</a>
                                                    </div>
                                                </div>
                                                <div class="why-text" style="margin-left: 24px; width: 200px;">
                                                    <a href="@url"><h4 style="margin-left:20px">@item.ProductName</h4></a>
                                                    <h5 style="text-align:center">@String.Format("{0:n0}", @item.Price)&nbsp;₫</h5>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--Phân trang-->
                <div style="margin-top:10px">
                    <p>Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount</p>
                </div>
                <div class="middle_list" style="margin-left:225px">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @search = ViewBag.Search }))
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->
