<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Tarot Mystery Shop – Cửa hàng bán bài Tarot chính hãng tại Hà Nội</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="/DataImage/ImageHome/Logo-PNG.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/DataImage/ImageHome/Logo-PNG.png">

    <!-- Bootstrap CSS -->
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Site CSS -->
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <!-- Responsive CSS -->
    <link href="~/Assets/css/responsive.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Assets/css/custom.css" rel="stylesheet" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> Giảm 50k Khi Order Bài Tại Shop
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Giảm 50k Cho Bộ Bài Thứ 3 Mua Tại Shop.
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Giảm 50k Vào Ngày Sinh Nhật
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Nhập Mã TAROTMYSTERY Giảm 20k
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="right-phone-box">
                        <p>LIÊN HỆ : <a href="#">0988 666 888</a></p>
                    </div>
                    @{
                        var session =(Tarot.Web.Common.UserLogin)Session[Tarot.Web.Common.CommonConstants.USER_SESSION];
                    }
                    @if (session == null)
                    {
                        <div class="our-link">
                            <ul>
                                <li><a href="@Url.Action("Register","User")">Đăng Ký</a></li>
                                <li><a href="@Url.Action("Login","User")">Đăng Nhập</a></li>
                            </ul>
                        </div>
                    }
                   else
                    {
                     <div class="our-link">
                           <ul style="color:white">
                                 <li><a>Xin chào: @session.UserName</a></li>
                                 <li>@Html.ActionLink("Đăng xuất","LogOut","User")</li>
                            </ul>

                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->
    <!-- Start Main Top -->
    @{
        var headerPartial = Html.Partial("_MENU");
        headerPartial = new MvcHtmlString(headerPartial.ToString());
    }
    @headerPartial
    <!-- End Main Top -->
    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->
    @RenderBody()
    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>TAROT MYSTERY SHOP</h4>
                            <p>
                                Nơi bạn có thể đặt trọn niềm tin khi cần tìm cho chính mình, cho người mình yêu thương, cho bạn bè hay những người thân trong gia đình một bộ bài Tarot để đồng hành trong cuộc sống hàng ngày.
                            </p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>THÔNG TIN SHOP</h4>
                            <ul>
                                <li><a href="#">Về Chúng Tôi</a></li>
                                <li><a href="#">Liên Hệ & Thanh Toán</a></li>
                                <li><a href="#">Thẻ Mystery Card</a></li>
                                <li><a href="#">Chính Sách Giao Hàng</a></li>
                                <li><a href="#">Chính Sách Bảo Hành</a></li>
                                <li><a href="#">Câu Hỏi Thường Gặp</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>LIÊN HỆ</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Địa Chỉ: SỐ 32 NGÁCH 31 NGÕ 14 <br>PHÁO ĐÀI LÁNG LÁNG THƯỢNG,<br /> ĐỐNG ĐA, HÀ NỘI </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Điện Thoại: <a href="tel:0988 666 888">0988 666 888</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:tarotmysteryshop@gmail.com">tarotmysteryshop@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="~/Assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/Assets/js/jquery.superslides.min.js"></script>
    <script src="~/Assets/js/bootstrap-select.js"></script>
    <script src="~/Assets/js/inewsticker.js"></script>
    <script src="~/Assets/js/bootsnav.js"></script>
    <script src="~/Assets/js/images-loded.min.js"></script>
    <script src="~/Assets/js/isotope.min.js"></script>
    <script src="~/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Assets/js/baguetteBox.min.js"></script>
    <script src="~/Assets/js/jquery-ui.js"></script>
    <script src="~/Assets/js/jquery.nicescroll.min.js"></script>
    <script src="~/Assets/js/form-validator.min.js"></script>
    <script src="~/Assets/js/contact-form-script.js"></script>
    <script src="~/Assets/js/custom.js"></script>
    @RenderSection("jsFooter",required:false)
</body>

</html>
